<form class="{{cssClass}}" autocomplete="off">

  <div class="characterSheet">

    {{!-- Sheet Header --}}
    <!-- Column #1 -->
    <div class="sheet-header stats">

      <!-- Column #1-->
      <div class="portrait">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
      </div>

      <!-- Column #2 -->
      <div>
        <!-- Row #1 -->
        <h1 class="character-name"><input type="text" name="name" value="{{actor.name}}" placeholder="Name"> </h1>

        <!-- Row #2 -->
        <div class="bottomCharaBlock">
          <div class="kInput statBox big health">
            <h4>
              <div class="button charMacroButton calculate health tooltip">
                <span class="tooltip-text"> Calculate maximum health. </span>
                <img src="systems/mta-umg/icons/gui/calculate.svg" alt="Calculate max. health.">
              </div>
              Health
            </h4>
            <div class="gold-border"> </div>
            <div class="kMageTracker" data-type="health" data-name="data.health" data-states="max/value/lethal/aggravated" data-max="{{data.health.max}}" data-aggravated="{{data.health.aggravated}}" data-lethal="{{data.health.lethal}}" data-value="{{data.health.value}}"></div>
          </div>

          <div class="kInput statBox big">
            <h4>
              <input class="attribute-check" id="Willpower{{actor._id}}" data-attribute="willpower" data-attributeValue={{data.willpower.max}} data-attributeLabel="Willpower" type="checkbox" data-dtype="Boolean">
              <label class="button attribute-button" for="Willpower{{actor._id}}">Willpower</label>
            </h4>
            <div class="gold-border"> </div>
            <div class="split">
              <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                <input name="data.willpower.value" type="number" value="{{data.willpower.value}}" data-dtype="Number">
                <div class="numBtns">
                  <div class="plusBtn">+</div>
                  <div class="minusBtn">−</div>
                </div>
              </div>
              <span class="delimiter"> / </span>
              <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                <input name="data.willpower.max" type="number" value="{{data.willpower.max}}" data-dtype="Number">
                <div class="numBtns">
                  <div class="plusBtn">+</div>
                  <div class="minusBtn">−</div>
                </div>
              </div>
            </div>
          </div>
          {{#if (isMage data.characterType)}}
            <div class="kInput statBox big">
              <h4>
                <input class="attribute-check" id="Wisdom{{actor._id}}" data-attribute="wisdom" data-attributeValue={{data.wisdom}} data-attributeLabel="Wisdom" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="Wisdom{{actor._id}}">Wisdom</label>
              </h4>
              <div class="gold-border"> </div>
              <div class="split">
                <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                  <input name="data.wisdom" type="number" value="{{data.wisdom}}" data-dtype="Number">
                  <div class="numBtns">
                    <div class="plusBtn">+</div>
                    <div class="minusBtn">−</div>
                  </div>
                </div>
              </div>
            </div>
          {{else if (isVampire data.characterType)}}
            <div class="kInput statBox big">
              <h4>
                <input class="attribute-check" id="Humanity{{actor._id}}" data-attribute="humanity" data-attributeValue={{data.humanity}} data-attributeLabel="Humanity" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="Humanity{{actor._id}}">Humanity</label>
              </h4>
              <div class="gold-border"> </div>
              <div class="split">
                <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                  <input name="data.humanity" type="number" value="{{data.humanity}}" data-dtype="Number">
                  <div class="numBtns">
                    <div class="plusBtn">+</div>
                    <div class="minusBtn">−</div>
                  </div>
                </div>
              </div>
            </div>
          {{else if (isChangeling data.characterType)}}
            <div class="kInput statBox big health">
              <h4>
                <div class="button charMacroButton calculate clarity tooltip">
                  <span class="tooltip-text"> Calculate maximum clarity. </span>
                  <img src="systems/mta-umg/icons/gui/calculate.svg" alt="Calculate max. clarity.">
                </div>
                <input class="attribute-check" id="Clarity{{actor._id}}" data-attribute="clarity" data-attributeValue={{data.clarity.value}} data-attributeLabel="Clarity" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="Clarity{{actor._id}}">Clarity</label>
                
              </h4>
              <div class="gold-border"> </div>
              <div class="kMageTracker clarity" data-type="clarity" data-name="data.clarity" data-states="max/value/severe" data-max="{{data.clarity.max}}" data-severe="{{data.clarity.severe}}" data-value="{{data.clarity.value}}"></div>
            </div>
          {{else}}
            <div class="kInput statBox big">
              <h4>
                <input class="attribute-check" id="Integrity{{actor._id}}" data-attribute="integrity" data-attributeValue={{data.integrity}} data-attributeLabel="Integrity" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="Integrity{{actor._id}}">Integrity</label>
              </h4>
              <div class="gold-border"> </div>
              <div class="split">
                <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                  <input name="data.integrity" type="number" value="{{data.integrity}}" data-dtype="Number">
                  <div class="numBtns">
                    <div class="plusBtn">+</div>
                    <div class="minusBtn">−</div>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>

    {{!-- Sheet Side --}}
    <div class="conditions">
      <div class="character-type">
        <span class="tooltip left">
          <span class="tooltip-text"> Should the character type be visible for players with limited permission? </span>
          <label class="checkBox">
            <input data-dtype="Boolean" name="data.isTypeKnown" type="checkbox" {{checked data.isTypeKnown}}>
            <span></span>
          </label>
        </span>
        <select name="data.characterType">
          {{#select data.characterType}}
            {{#each config.characterTypes}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
      <!-- Block #1 -->
      <div class="expBox">
        <div>
          <div class="button charMacroButton progress tooltip">
            <span class="tooltip-text"> Open progress menu. </span>
            <img src="systems/mta-umg/icons/gui/progress-menu.svg" alt="Open progress menu.">
          </div>
          <div>
            <div class="exp-header"> Beats </div>
            <input class="attribute-value borderInput disabled" type="number" name="beats_computed" value={{beats_computed}} disabled/>
          </div>
          <div>
            <div class="exp-header"> Exp </div>
            <input class="attribute-value borderInput disabled" type="number" name="experience_computed" value={{experience_computed}} disabled/>
          </div>
        </div>
        {{#if (isMage data.characterType)}}
          <div>
            <div style="width:32px;min-width:32px"></div>
            <div>
              <div class="exp-header"> Arc. Beats </div>
              <input class="attribute-value borderInput disabled" type="number" name="arcaneBeats_computed" value={{arcaneBeats_computed}} disabled/>
            </div>
            <div>
              <div class="exp-header"> Arc.Exp. </div>
              <input class="attribute-value borderInput disabled" type="number" name="arcaneExperience_computed" value={{arcaneExperience_computed}} disabled/>
            </div>
          </div>
        {{/if}}
      </div>


      <!-- Block #2 -->
      <div class="kInput statBox">
        <h4> Derived Traits</h4>
        <div class="gold-border"> </div>
        <div class="armourGrid">
          <span>
            <input class="attribute-check" id="Size{{actor._id}}" data-attribute="size" data-attributeValue={{data.size}} data-attributeLabel="Size" type="checkbox" data-dtype="Boolean">
            <label class="button attribute-button" for="Size{{actor._id}}">Size</label>
          </span>
          <input value="{{data.size}}" disabled>
          <div class="niceNumber digits2" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.sizeMod" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.sizeMod decimals=0 sign=true}}">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
          <span>
            <input class="attribute-check" id="Speed{{actor._id}}" data-attribute="speed" data-attributeValue={{data.speed}} data-attributeLabel="Speed" type="checkbox" data-dtype="Boolean">
            <label class="button attribute-button" for="Speed{{actor._id}}">Speed</label>
          </span>
          <input value="{{data.speed}}" disabled>
          <div class="niceNumber digits2" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.speedMod" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.speedMod decimals=0 sign=true}}">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>

          <span>
            <input class="attribute-check" id="Defense{{actor._id}}" data-attribute="defense" data-attributeValue={{data.defense}} data-attributeLabel="Defense" type="checkbox" data-dtype="Boolean">
            <label class="button attribute-button" for="Defense{{actor._id}}">Defense</label>
          </span>
          <input value="{{data.defense}}" disabled>
          <div class="niceNumber digits2" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.defenseMod" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.defenseMod decimals=0 sign=true}}">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
          <span>
            <input class="attribute-check" id="Armor{{actor._id}}" data-attribute="armor" data-attributeValue={{data.armor}} data-attributeLabel="Armor" type="checkbox" data-dtype="Boolean">
            <label class="button attribute-button" for="Armor{{actor._id}}">Armor</label>
          </span>
          <input value="{{data.armor}}" disabled>
          <div class="niceNumber digits2" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.armorMod" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.armorMod decimals=0 sign=true}}">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
          <span>
            <input class="attribute-check" id="Initiative{{actor._id}}" data-attribute="initiative" data-attributeValue={{data.initiativeMod}} data-attributeLabel="Initiative" type="checkbox" data-dtype="Boolean">
            <label class="button attribute-button" for="Initiative{{actor._id}}">Initiative</label>
          </span>
          <input value="{{data.initiativeMod}}" disabled>
          <div class="niceNumber digits2" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.initiativeModMod" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.initiativeModMod decimals=0 sign=true}}">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
          <span>
            <input class="attribute-check" id="BallisticArmor{{actor._id}}" data-attribute="ballistic" data-attributeValue={{data.ballistic}} data-attributeLabel="Ballistic" type="checkbox" data-dtype="Boolean">
            <label class="button attribute-button" for="BallisticArmor{{actor._id}}">Ball. Armor</label>
          </span>
          <input value="{{data.ballistic}}" disabled>
          <div class="niceNumber digits2" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.ballisticMod" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.ballisticMod decimals=0 sign=true}}">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
        </div>
      </div>
      <div class="items-block">
        <div class="items-table">
          {{!-- Merits --}}
          <table class="item-table">
            <tr class="item-row header">
              <th class="cell header first collapsible button"> Merits </th>
              {{#each inventory.merit.dataset}}
                <th class="cell header"> {{this}} </th>
              {{/each}}
              <th class="cell header button item-create" data-type="merit"> + Add </th>
            </tr>
            {{#each inventory.merit.items as |item iid|}}
              <tr class="item-row" data-item-id="{{item._id}}">
                <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                  <div class="item-name-wrapper"> 
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </div>
                </td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.rating}}</td>
                <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                  <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
                  <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
      <div class="items-block">
        <div class="items-table">
          {{!-- Conditions --}}
          <table class="item-table">
            <tr class="item-row header">
              <th class="cell header first collapsible button"> Conditions </th>
              {{#each inventory.condition.dataset}}
                <th class="cell header"> {{this}} </th>
              {{/each}}
              <th class="cell header button item-create" data-type="condition"> + Add </th>
            </tr>
            {{#each inventory.condition.items as |item iid|}}
              <tr class="item-row" data-item-id="{{item._id}}">
                <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                  <div class="item-name-wrapper"> 
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </div>
                </td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> {{convertBool data.isPersistent}}</td>
                {{#if (isChangeling ../data.characterType)}} <td class="cell {{#if @last}} lastRow {{/if}}"> {{convertBool data.isClarity}}</td> {{/if}}
                <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                  <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
                  <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
      <div class="items-block">
        <div class="items-table">
          {{!-- Tilts --}}
          <table class="item-table">
            <tr class="item-row header">
              <th class="cell header first collapsible button"> Tilts </th>
              {{#each inventory.tilt.dataset}}
                <th class="cell header"> {{this}} </th>
              {{/each}}
              <th class="cell header button item-create" data-type="tilt"> + Add </th>
            </tr>
            {{#each inventory.tilt.items as |item iid|}}
              <tr class="item-row" data-item-id="{{item._id}}">
                <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                  <div class="item-name-wrapper"> 
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </div>
                </td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> {{convertBool data.isEnvironmental}}</td>
                <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                  <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
                  <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
    </div>

    <div class="characterMacroPanel">
      <div>
        <div class="button charMacroButton rollButton tooltip">
          <span class="tooltip-text"> Execute Skill test. Rolls the selected Attributes/Skills. Right-click executes a roll without modifiers. </span>
          <img src="systems/mta-umg/icons/gui/d10.svg" alt="Skill check.">
        </div>
        <div class="button charMacroButton perceptionButton tooltip">
          <span class="tooltip-text"> Perception check. Rolls Wits + Composure. The result will be hidden to the player. Right-click executes a roll without modifiers. </span>
          <img src="systems/mta-umg/icons/gui/perception.svg" alt="Perception check.">
        </div>
        {{#if (isProximiMage data.characterType)}}
          <div class="button charMacroButton improvisedSpellButton tooltip">
            <span class="tooltip-text"> Improvised spell cast. </span>
            <img src="systems/mta-umg/icons/gui/macro-improvisedSpell.svg" alt="Improvised spell cast.">
          </div>
        {{/if}}
      </div>
    </div>




    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">
      <a class="item" data-tab="attributes">Attributes</a>
      {{#if (isProximiMage data.characterType)}} <a class="item" data-tab="magic">Magic</a> {{/if}}
      {{#if (isVampire data.characterType)}} <a class="item" data-tab="disciplines">Disciplines</a> {{/if}}
      {{#if (isChangeling data.characterType)}} <a class="item" data-tab="contracts">Contracts</a> {{/if}}
      <a class="item" data-tab="inventory">Items</a>
      <a class="item" data-tab="description">Traits</a>
      {{#if (isMage data.characterType)}} <a class="item" data-tab="magePersona">Mage Traits</a> {{/if}}
      {{#if (isVampire data.characterType)}} <a class="item" data-tab="vampirePersona">Vampire Traits</a> {{/if}}
      {{#if (isChangeling data.characterType)}} <a class="item" data-tab="changelingPersona">Changeling Traits</a> {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      {{!-- Attributes Tab --}}
      <div class="tab attributes" data-tab="attributes">
        <div class="tab-block">
          <div class="attributes-flexrow">
            <ol class="attributes-list">
              <li class="attributes-header major flexrow">
                <span class="attribute-header">Physical</span>
              </li>
              <li class="attributes-header flexrow">
                <span class="attribute-key">Attribute</span>
                <span class="attribute-valueHeader">Value</span>
              </li>
              {{#each data.attributes.physical as |attr key|}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                  <span>
                    <input class="attribute-check" id="{{attr.label}}{{../actor._id}}" data-attribute="{{key}}" data-attributeValue={{attr.value}} data-attributeLabel="{{attr.label}}" type="checkbox" data-dtype="Boolean">
                    <label class="button attribute-button" for="{{attr.label}}{{../actor._id}}">{{attr.label}}</label>
                  </span>
                  <input class="attribute-value" type="number" name="data.attributes.physical.{{key}}.value" value={{attr.value}} data-dtype="{{attr.type}}" min="{{attr.min}}" max="{{attr.max}}">
                </li>
              {{/each}}
            </ol>

            <ol class="attributes-list">
              <li class="attributes-header major flexrow">
                <span class="attribute-header">Social</span>
              </li>
              <li class="attributes-header flexrow">
                <span class="attribute-key">Attribute</span>
                <span class="attribute-valueHeader">Value</span>
              </li>
              {{#each data.attributes.social as |attr key|}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                  <span>
                    <input class="attribute-check" id="{{attr.label}}{{../actor._id}}" data-attribute="{{key}}" data-attributeValue={{attr.value}} data-attributeLabel="{{attr.label}}" type="checkbox" data-dtype="Boolean">
                    <label class="button attribute-button" for="{{attr.label}}{{../actor._id}}">{{attr.label}}</label>
                  </span>
                  <input class="attribute-value" type="number" name="data.attributes.social.{{key}}.value" value={{attr.value}} data-dtype="{{attr.type}}" min="{{attr.min}}" max="{{attr.max}}" />
                </li>
              {{/each}}
            </ol>

            <ol class="attributes-list">
              <li class="attributes-header major flexrow">
                <span class="attribute-header">Mental</span>
              </li>
              <li class="attributes-header flexrow">
                <span class="attribute-key">Attribute</span>
                <span class="attribute-valueHeader">Value</span>
              </li>
              {{#each data.attributes.mental as |attr key|}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                  <span>
                    <input class="attribute-check" id="{{attr.label}}{{../actor._id}}" data-attribute="{{key}}" data-attributeValue={{attr.value}} data-attributeLabel="{{attr.label}}" type="checkbox" data-dtype="Boolean">
                    <label class="button attribute-button" for="{{attr.label}}{{../actor._id}}">{{attr.label}}</label>
                  </span>
                  <input class="attribute-value" type="number" name="data.attributes.mental.{{key}}.value" value={{attr.value}} data-dtype="{{attr.type}}" min="{{attr.min}}" max="{{attr.max}}" />
                </li>
              {{/each}}
            </ol>
          </div>

          <div class="attributes-flexrow">
            <ol class="attributes-list">
              <li class="attributes-header flexrow">
                <span class="attribute-key">Rote</span>
                <span class="attribute-key">Skill</span>
                <span class="attribute-valueHeader">Value</span>
              </li>
              {{#each data.skills.physical as |attr key|}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                  <span>
                    <label class="checkBox">
                      <input data-dtype="Boolean" name="data.skills.physical.{{key}}.isRote" type="checkbox" {{checked attr.isRote}}>
                      <span></span>
                    </label>
                    <span class="button skill-specialty {{#if attr.specialties}} available {{/if}} {{#if attr.isAssetSkill}} asset {{/if}}" data-attribute="{{key}}" title="{{#each attr.specialties}} {{this}} {{/each}}" data-attributetype="physical"><i class="fab fa-stripe-s"></i></span>
                    <span>
                      <input class="attribute-check" id="{{attr.label}}{{../actor._id}}" data-attribute="{{key}}" data-attributeValue={{attr.value}} data-attributeLabel="{{attr.label}}" type="checkbox" data-dtype="Boolean">
                      <label class="button attribute-button" for="{{attr.label}}{{../actor._id}}">{{attr.label}}</label>
                    </span>
                  </span>
                  <input class="attribute-value" type="number" name="data.skills.physical.{{key}}.value" value={{attr.value}} data-dtype="{{attr.type}}" min="{{attr.min}}" max="{{attr.max}}" />
                </li>
              {{/each}}
            </ol>

            <ol class="attributes-list">
              <li class="attributes-header flexrow">
                <span class="attribute-key">Rote</span>
                <span class="attribute-key">Skill</span>
                <span class="attribute-valueHeader">Value</span>
              </li>
              {{#each data.skills.social as |attr key|}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                  <span>
                    <label class="checkBox">
                      <input data-dtype="Boolean" name="data.skills.social.{{key}}.isRote" type="checkbox" {{checked attr.isRote}}>
                      <span></span>
                    </label>
                    <span class="button skill-specialty {{#if attr.specialties}} available {{/if}} {{#if attr.isAssetSkill}} asset {{/if}}" data-attribute="{{key}}" title="{{#each attr.specialties}} {{this}} {{/each}}" data-attributetype="social"><i class="fab fa-stripe-s"></i></span>
                    <span>
                      <input class="attribute-check" id="{{attr.label}}{{../actor._id}}" data-attribute="{{key}}" data-attributeValue={{attr.value}} data-attributeLabel="{{attr.label}}" type="checkbox" data-dtype="Boolean">
                      <label class="button attribute-button" for="{{attr.label}}{{../actor._id}}">{{attr.label}}</label>
                    </span>
                  </span>
                  <input class="attribute-value" type="number" name="data.skills.social.{{key}}.value" value={{attr.value}} data-dtype="{{attr.type}}" min="{{attr.min}}" max="{{attr.max}}" />
                </li>
              {{/each}}
            </ol>

            <ol class="attributes-list">
              <li class="attributes-header flexrow">
                <span class="attribute-key">Rote</span>
                <span class="attribute-key">Skill</span>
                <span class="attribute-valueHeader">Value</span>
              </li>
              {{#each data.skills.mental as |attr key|}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                  <span>
                    <label class="checkBox">
                      <input data-dtype="Boolean" name="data.skills.mental.{{key}}.isRote" type="checkbox" {{checked attr.isRote}}>
                      <span></span>
                    </label>
                    <span class="button skill-specialty {{#if attr.specialties}} available {{/if}} {{#if attr.isAssetSkill}} asset {{/if}}" data-attribute="{{key}}" title="{{#each attr.specialties}} {{this}} {{/each}}" data-attributetype="mental"><i class="fab fa-stripe-s"></i></span>
                    <span>
                      <input class="attribute-check" id="{{attr.label}}{{../actor._id}}" data-attribute="{{key}}" data-attributeValue={{attr.value}} data-attributeLabel="{{attr.label}}" type="checkbox" data-dtype="Boolean">
                      <label class="button attribute-button" for="{{attr.label}}{{../actor._id}}">{{attr.label}}</label>
                    </span>
                  </span>
                  <input class="attribute-value" type="number" name="data.skills.mental.{{key}}.value" value={{attr.value}} data-dtype="{{attr.type}}" min="{{attr.min}}" max="{{attr.max}}" />
                </li>
              {{/each}}
            </ol>
          </div>
        </div>
      </div>


      {{!-- Magic Tab --}}
      <div class="tab magic" data-tab="magic">
        {{> "systems/mta-umg/templates/actors/parts/mage-magic.html"}}
      </div>


      {{!-- Disciplines Tab --}}
      <div class="tab disciplines" data-tab="disciplines">
        {{> "systems/mta-umg/templates/actors/parts/vamp-disciplines.html"}}
      </div>
      
      {{!-- Contracts Tab --}}
      <div class="tab contracts" data-tab="contracts">
        {{> "systems/mta-umg/templates/actors/parts/changeling-powers.html"}}
      </div>

      {{!-- Item Tab --}}
      <div class="tab inventory" data-tab="inventory">
        {{> "systems/mta-umg/templates/actors/parts/base-inventory.html"}}
      </div>


      {{!-- Traits Tab --}}
      <div class="tab description" data-tab="description">
        <div class="item-stat-block">
          <div class="form-line">
            <label> {{#if (isVampire data.characterType)}} Mask {{else if (isChangeling data.characterType)}} Needle {{else}} Virtue {{/if}} </label> <input name="data.virtue" type="text" value="{{data.virtue}}" />
          </div>
          <div class="form-line">
            <label> {{#if (isVampire data.characterType)}} Dirge {{else if (isChangeling data.characterType)}} Thread {{else}} Vice {{/if}} </label> <input name="data.vice" type="text" value="{{data.vice}}" />
          </div>
          <div class="form-line">
            <label> Age </label> <input name="data.age" type="number" data-dtype="Number" value="{{data.age}}" />
          </div>
          <div class="form-line">
            <label> Sex </label> <input name="data.sex" type="text" value="{{data.sex}}" />
          </div>
          <div class="form-line">
            <label> Faction </label> <input name="data.faction" type="text" value="{{data.faction}}" />
          </div>
          <div class="form-line">
            <label> Aspirations </label>
            <textarea name="data.aspirations" placeholder="Aspirations">{{data.aspirations}}</textarea>
          </div>
        </div>
        {{!-- Relationships --}}
        <table class="item-table">
          <tr class="item-row header">
            <th class="cell header first collapsible button"> Relationships </th>
            {{#each inventory.relationship.dataset}}
              <th class="cell header"> {{this}} </th>
            {{/each}}
            <th class="cell header button item-create" data-type="relationship"> + Add </th>
          </tr>
          {{#each inventory.relationship.items as |item iid|}}
            <tr class="item-row" data-item-id="{{item._id}}">
              <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                  <div class="item-name-wrapper"> 
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </div>
                </td>
              <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.impression}}</td>
              <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.doors.value}} / {{data.doors.max}}</td>
              <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.penalty}}</td>
              <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
                <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
              </td>
            </tr>
          {{/each}}
        </table>
<div class="item-stat-block">
        <div class="form-line">
            <label class="wide"> Description </label>
            <div class="wide editor-container">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
          </div>
        </div>
        </div>
      </div>


      {{!-- Mage Persona Tab --}}
      <div class="tab magePersona" data-tab="magePersona">
        <div class="item-stat-block">
          <div class="form-line">
            <label> Real Name </label> <input name="data.shadowName" type="text" value="{{data.shadowName}}" />
          </div>
          <div class="form-line">
            <label> Path </label> <input name="data.path" type="text" value="{{data.path}}" />
          </div>
          <div class="form-line">
            <label> Order </label> <input name="data.order" type="text" value="{{data.order}}" />
          </div>
          <div class="form-line">
            <label> Legacy </label> <input name="data.legacy" type="text" value="{{data.legacy}}" />
          </div>
          <div class="form-line">
            <label> Obsessions </label>
            <textarea name="data.obsessions" placeholder="Obsessions">{{data.obsessions}}</textarea>
          </div>
          <div class="form-line">
            <label> Nimbus </label>
            <textarea name="data.nimbus" placeholder="Nimbus">{{data.nimbus}}</textarea>
          </div>
        </div>
      </div>
      
      {{!-- Vampire Persona Tab --}}
      <div class="tab vampirePersona" data-tab="vampirePersona">
        <div class="item-stat-block">
          <div class="form-line">
            <label> Clan </label> <input name="data.clan" type="text" value="{{data.clan}}" />
          </div>
          <div class="form-line">
            <label> Bloodline </label> <input name="data.bloodline" type="text" value="{{data.bloodline}}" />
          </div>
          <div class="form-line">
            <label> Covenant </label> <input name="data.covenant" type="text" value="{{data.covenant}}" />
          </div>
          <div class="form-line">
            <label> Rank </label> <input name="data.vamp_rank" type="text" value="{{data.vamp_rank}}" />
          </div>
          <div class="form-line">
            <label> Age as Vampire </label> <input name="data.vampireAge" type="number" data-dtype="Number" value="{{data.vampireAge}}" />
          </div>
          <div class="form-line">
            <label> Banes </label>
            <textarea name="data.banes" placeholder="Banes">{{data.banes}}</textarea>
          </div>
          <div class="form-line">
            <label class="wide"> Touchstones </label>
            {{#each data.touchstones_vampire as |touchstone key|}}
              <label class="{{#if (isActiveVampTouchstone key ../data.humanity)}} activeTouchstone {{/if}}"> {{convertVampTouchstone key}} </label> <input name="data.touchstones_vampire.{{key}}" type="text" value="{{touchstone}}" />
            {{/each}}
          </div> 
        </div>
        {{!-- Vinculae --}}
        <table class="item-table">
          <tr class="item-row header">
            <th class="cell header first collapsible button"> Vinculae </th>
            {{#each inventory.vinculum.dataset}}
              <th class="cell header"> {{this}} </th>
            {{/each}}
            <th class="cell header button item-create" data-type="vinculum"> + Add </th>
          </tr>
          {{#each inventory.vinculum.items as |item iid|}}
            <tr class="item-row" data-item-id="{{item._id}}">
              <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                  <div class="item-name-wrapper"> 
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </div>
                </td>
              <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.stage}}</td>
              <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
                <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
              </td>
            </tr>
          {{/each}}
        </table>
      </div>
      
      {{!-- Changeling Persona Tab --}}
      <div class="tab changelingPersona" data-tab="changelingPersona">
        <div class="item-stat-block"> 
          <div class="form-line">
            <label> Seeming </label> <input name="data.seeming" type="text" value="{{data.seeming}}" />
          </div>
          <div class="form-line">
            <label> Kith </label> <input name="data.kith" type="text" value="{{data.kith}}" />
          </div>
          <div class="form-line">
            <label> Court </label> <input name="data.court" type="text" value="{{data.court}}" />
          </div>
          <div class="form-line">
            <label class="wide"> Touchstones </label>
            {{#each data.touchstones_changeling as |touchstone key|}}
              <label class="{{#if (isActiveTouchstoneChangeling key ../data.attributes.social.composure.value)}} activeTouchstone {{/if}}"> {{key}} </label> <input name="data.touchstones_changeling.{{key}}" type="text" value="{{touchstone}}" />
            {{/each}}
          </div> 
          <div class="form-line">
            <label> Frailties </label>
            <textarea name="data.frailties" placeholder="Frailties">{{data.frailties}}</textarea>
          </div>
          <div class="form-line">
            <label> Mien </label>
            <textarea name="data.mienDescription" placeholder="Mien description">{{data.mienDescription}}</textarea>
          </div>
          <div class="form-line">
            <label> Seeming Blessing </label>
            <textarea name="data.seemingBlessing" placeholder="Seeming Blessing">{{data.seemingBlessing}}</textarea>
          </div>
          <div class="form-line">
            <label> Seeming Curse </label>
            <textarea name="data.seemingCurse" placeholder="Seeming Curse">{{data.seemingCurse}}</textarea>
          </div>
          <div class="form-line">
            <label> Kith Blessing </label>
            <textarea name="data.kithBlessing" placeholder="Kith Blessing">{{data.kithBlessing}}</textarea>
          </div>
        </div>
      </div>
      
    </section>
</form>