<form class="{{cssClass}}" autocomplete="off">

  <div class="characterSheet">

    {{!-- Sheet Header --}}
    <!-- Column #1 -->
    <div class="sheet-header stats">

      <!-- Column #1-->
      <div class="portrait">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
      </div>

      <!-- Column #2 -->
      <div>
        <!-- Row #1 -->
        <h1 class="character-name"><input type="text" name="name" value="{{actor.name}}" placeholder="Name"> </h1>

        <!-- Row #2 -->
        <div class="bottomCharaBlock">
          <div class="kInput statBox big health">
            <h4>Health</h4>
            <div class="gold-border"> </div>
            <div class="kMageTracker" data-type="health" data-name="data.health" data-states="max/value/lethal/aggravated" data-max="{{data.health.max}}" data-aggravated="{{data.health.aggravated}}" data-lethal="{{data.health.lethal}}" data-value="{{data.health.value}}"></div>
          </div>

          <div class="kInput statBox big">
            <h4>
              <input class="attribute-check" id="Essence{{actor._id}}" data-attributeValue={{data.essence.max}} data-attributeLabel="Essence" type="checkbox" data-dtype="Boolean">
              <label class="button attribute-button" for="Essence{{actor._id}}">Essence</label>
            </h4>
            <div class="gold-border"> </div>
            <div class="split">
              <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                <input name="data.essence.value" type="number" value="{{data.essence.value}}" data-dtype="Number">
                <div class="numBtns">
                  <div class="plusBtn">+</div>
                  <div class="minusBtn">−</div>
                </div>
              </div>
              <span class="delimiter"> / </span>
              <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                <input name="data.essence.max" type="number" value="{{data.essence.max}}" data-dtype="Number">
                <div class="numBtns">
                  <div class="plusBtn">+</div>
                  <div class="minusBtn">−</div>
                </div>
              </div>
            </div>
          </div>
          <div class="kInput statBox big">
            <h4>
              <input class="attribute-check" id="Willpower{{actor._id}}" data-attributeValue={{data.willpower.max}} data-attributeLabel="Willpower" type="checkbox" data-dtype="Boolean">
              <label class="button attribute-button" for="Willpower{{actor._id}}">Willpower</label>
            </h4>
            <div class="gold-border"> </div>
            <div class="split">
              <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                <input name="data.willpower.value" type="number" value="{{data.willpower.value}}" data-dtype="Number">
                <div class="numBtns">
                  <div class="plusBtn">+</div>
                  <div class="minusBtn">−</div>
                </div>
              </div>
              <span class="delimiter"> / </span>
              <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                <input name="data.willpower.max" type="number" value="{{data.willpower.max}}" data-dtype="Number">
                <div class="numBtns">
                  <div class="plusBtn">+</div>
                  <div class="minusBtn">−</div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    {{!-- Sheet Side --}}
    <div class="conditions">
      <div class="character-type">
        <span class="tooltip left">
          <span class="tooltip-text"> Should the character type be visible for players with limited permission? </span>
          <label class="checkBox">
            <input data-dtype="Boolean" name="data.isTypeKnown" type="checkbox" {{checked data.isTypeKnown}}>
            <span></span>
          </label>
        </span>
        <select name="data.characterType">
          {{#select data.characterType}}
            {{#each config.npcTypes}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          {{/select}}
        </select>
        <!--<div class="ephemeral-rank">
          <h4> Rank <input type="number" name="data.rank" value={{data.rank}} data-dtype="Number" min="0" max="10" /></h4>
          <h4> {{npcDescription}}</h4>
        </div>-->
      </div>
      
      <!-- Block #1 -->
      
      <div class="kInput statBox">
        <h4> Derived Traits</h4>
        <div class="gold-border"> </div>
        <div class="armourGrid">
          <span>
            <input class="attribute-check" id="Size{{actor._id}}" data-attribute="size" data-attributeValue={{data.size}} data-attributeLabel="Size" type="checkbox" data-dtype="Boolean">
            <label class="button attribute-button" for="Size{{actor._id}}">Size</label>
          </span>
          <input value="{{data.size}}" disabled>
          <div class="niceNumber digits2" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.sizeMod" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.sizeMod decimals=0 sign=true}}">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
          <span>
            <input class="attribute-check" id="Speed{{actor._id}}" data-attribute="speed" data-attributeValue={{data.speed}} data-attributeLabel="Speed" type="checkbox" data-dtype="Boolean">
            <label class="button attribute-button" for="Speed{{actor._id}}">Speed</label>
          </span>
          <input value="{{data.speed}}" disabled>
          <div class="niceNumber digits2" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.speedMod" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.speedMod decimals=0 sign=true}}">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>

          <span>
            <input class="attribute-check" id="Defense{{actor._id}}" data-attribute="defense" data-attributeValue={{data.defense}} data-attributeLabel="Defense" type="checkbox" data-dtype="Boolean">
            <label class="button attribute-button" for="Defense{{actor._id}}">Defense</label>
          </span>
          <input value="{{data.defense}}" disabled>
          <div class="niceNumber digits2" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.defenseMod" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.defenseMod decimals=0 sign=true}}">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
          <span>
            <input class="attribute-check" id="Armor{{actor._id}}" data-attribute="armor" data-attributeValue={{data.armor}} data-attributeLabel="Armor" type="checkbox" data-dtype="Boolean">
            <label class="button attribute-button" for="Armor{{actor._id}}">Armor</label>
          </span>
          <input value="{{data.armor}}" disabled>
          <div class="niceNumber digits2" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.armorMod" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.armorMod decimals=0 sign=true}}">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
          <span>
            <input class="attribute-check" id="Initiative{{actor._id}}" data-attribute="initiative" data-attributeValue={{data.initiativeMod}} data-attributeLabel="Initiative" type="checkbox" data-dtype="Boolean">
            <label class="button attribute-button" for="Initiative{{actor._id}}">Initiative</label>
          </span>
          <input value="{{data.initiativeMod}}" disabled>
          <div class="niceNumber digits2" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.initiativeModMod" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.initiativeModMod decimals=0 sign=true}}">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
          <span>
            <input class="attribute-check" id="BallisticArmor{{actor._id}}" data-attribute="ballistic" data-attributeValue={{data.ballistic}} data-attributeLabel="Ballistic" type="checkbox" data-dtype="Boolean">
            <label class="button attribute-button" for="BallisticArmor{{actor._id}}">Ball. Armor</label>
          </span>
          <input value="{{data.ballistic}}" disabled>
          <div class="niceNumber digits2" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.ballisticMod" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.ballisticMod decimals=0 sign=true}}">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
        </div>
      </div>
      <div class="items-block">
        <div class="items-table">
          {{!-- Numina --}}
          <table class="item-table">
            <tr class="item-row header">
              <th class="cell header first"> Numina </th>
              {{#each inventory.numen.dataset}}
                <th class="cell header"> {{this}} </th>
              {{/each}}
              <th class="cell header button item-create" data-type="numen"> + Add </th>
            </tr>
            {{#each inventory.numen.items as |item iid|}}
              <tr class="item-row" data-item-id="{{item._id}}">
                <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                  <div class="item-name-wrapper"> 
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </div>
                </td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> {{convertBool data.reaching}}</td>
                <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                  <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
                  <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
      <div class="items-block">
        <div class="items-table">
          {{!-- Manifestations --}}
          <table class="item-table">
            <tr class="item-row header">
              <th class="cell header first"> Manifestations </th>
              {{#each inventory.manifestation.dataset}}
                <th class="cell header"> {{this}} </th>
              {{/each}}
              <th class="cell header button item-create" data-type="manifestation"> + Add </th>
            </tr>
            {{#each inventory.manifestation.items as |item iid|}}
              <tr class="item-row" data-item-id="{{item._id}}">
                <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                  <div class="item-name-wrapper"> 
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </div>
                </td>
                <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                  <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
                  <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
      <div class="items-block">
        <div class="items-table">
          {{!-- Conditions --}}
          <table class="item-table">
            <tr class="item-row header">
              <th class="cell header first collapsible"> Conditions </th>
              {{#each inventory.condition.dataset}}
                <th class="cell header"> {{this}} </th>
              {{/each}}
              <th class="cell header button item-create" data-type="condition"> + Add </th>
            </tr>
            {{#each inventory.condition.items as |item iid|}}
              <tr class="item-row" data-item-id="{{item._id}}">
                <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                  <div class="item-name-wrapper"> 
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </div>
                </td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> {{convertBool data.isPersistent}}</td>
                <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                  <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
                  <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
      <div class="items-block">
        <div class="items-table">
          {{!-- Tilts --}}
          <table class="item-table">
            <tr class="item-row header">
              <th class="cell header first collapsible"> Tilts </th>
              {{#each inventory.tilt.dataset}}
                <th class="cell header"> {{this}} </th>
              {{/each}}
              <th class="cell header button item-create" data-type="tilt"> + Add </th>
            </tr>
            {{#each inventory.tilt.items as |item iid|}}
              <tr class="item-row" data-item-id="{{item._id}}">
                <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                  <div class="item-name-wrapper"> 
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </div>
                </td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> {{convertBool data.isEnvironmental}}</td>
                <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                  <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
                  <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
    </div>

    <div class="characterMacroPanel">
      <div>
        <div class="button charMacroButton rollButton tooltip">
          <span class="tooltip-text"> Execute Skill test. Rolls the selected Attributes/Skills. Right-click executes a roll without modifiers. </span>
          <img src="systems/mta-umg/icons/gui/d10.svg" alt="Skill check.">
        </div>
      </div>
    </div>


    <div class="sheet-body tab active">

      <div class="attributes" data-tab="attributes">
        <div class="tab-block">
          <div class="attributes-flexrow">
            <ol class="attributes-list">
              <li class="attribute flexrow" data-attribute="rank">
                <span>
                  <input class="attribute-check" id="{{data.rankLabel}}{{../actor._id}}" data-attribute="rank" data-attributeValue={{data.rank}} data-attributeLabel="{{data.rankLabel}}" type="checkbox" data-dtype="Boolean">
                  <label class="button attribute-button" for="{{data.rankLabel}}{{../actor._id}}">{{data.rankLabel}}</label>
                </span>
                <input class="attribute-value" type="number" name="data.rank" value={{data.rank}} data-dtype="Number">
              </li>
            </ol>

            <ol class="attributes-list">
              <li class="attribute flexrow" data-attribute="competency">
                <span>
                  <input class="attribute-check" id="{{data.competency.label}}{{../actor._id}}" data-attribute="competency" data-attributeValue={{data.competency.value}} data-attributeLabel="{{data.competency.label}}" type="checkbox" data-dtype="Boolean">
                  <label class="button attribute-button" for="{{data.competency.label}}{{../actor._id}}">{{data.competency.label}}</label>
                </span>
                <input class="attribute-value" type="number" name="data.competency.value" value={{data.competency.value}} data-dtype="Number">
              </li>
            </ol>

            <ol class="attributes-list">
              <li class="attribute flexrow" data-attribute="resistance">
                <span>
                  <input class="attribute-check" id="{{data.resistance.label}}{{../actor._id}}" data-attributeValue={{data.resistance.value}} data-attributeLabel="{{data.resistance.label}}" type="checkbox" data-dtype="Boolean">
                  <label class="button attribute-button" for="{{data.resistance.label}}{{../actor._id}}">Resistance</label>
                </span>
                <input class="attribute-value" type="number" name="data.resistance.value" value={{data.resistance.value}} data-dtype="Number">
              </li>
            </ol>
          </div>
        </div>
      </div>


      <div class="items-block">
        <div class="items-table">
          {{!-- Influences --}}
          <table class="item-table">
            <tr class="item-row header">
              <th class="cell header first"> Influences </th>
              {{#each inventory.influence.dataset}}
                <th class="cell header"> {{this}} </th>
              {{/each}}
              <th class="cell header button item-create" data-type="influence"> + Add </th>
            </tr>
            {{#each inventory.influence.items as |item iid|}}
              <tr class="item-row" data-item-id="{{item._id}}">
                <td class="cell item-name first {{#if @last}} lastRow {{/if}} {{#if data.isMagical}} magic-item {{/if}}" data-item-id="{{item._id}}">
                  <div class="item-image" style="background-image: url({{item.img}})"></div>
                  <span> {{item.name}} </span>
                </td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.rating}}</td>
                <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                  <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
                  <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>

      <div class="item-stat-block">
        {{#if (isGhostAngel data.ephemeralType)}}
        <div class="form-line">
          <label> Virtue </label> <input name="data.virtue" type="text" value="{{data.virtue}}" />
        </div>
        <div class="form-line">
          <label> Vice </label> <input name="data.vice" type="text" value="{{data.vice}}" />
        </div>
        {{/if}}
        {{#if (isGhost data.ephemeralType)}}
        <div class="form-line">
            <label> Integrity </label> <input name="data.integrity" type="number" data-dtype="Number" value="{{data.integrity}}" />
          </div>
        {{/if}}
        <div class="form-line">
          <label> Bans </label>
          <textarea name="data.bans" placeholder="Bans">{{data.bans}}</textarea>
        </div>
        <div class="form-line">
          <label> Banes </label>
          <textarea name="data.banes" placeholder="Banes">{{data.banes}}</textarea>
        </div>
        <div class="form-line">
          <label> Aliases </label>
          <textarea name="data.aliases" placeholder="Aliases">{{data.aliases}}</textarea>
        </div>
      </div>
    </div>
  </div>
</form>