<div class="attributes-flexrow">
  
  
  
  <div class="item-stat-block">
    <div class="form-line">
      <label> Goblin Debt </label> 
      <div class="kMageTracker goblinDebt" data-type="goblinDebt" data-name="data.goblinDebt" data-states="max/value" data-max="{{data.goblinDebt.max}}" data-value="{{data.goblinDebt.value}}"></div>
      <textarea class="wide" name="data.goblinDebtNotes" placeholder="Goblin debt">{{data.goblinDebtNotes}}</textarea>
    </div>
    
  </div>

  <div class="flexcol">
    <div class="flexrow">
      <div class="kInput statBox big">
        <h4>
          <input class="attribute-check" id="wyrd{{actor._id}}" data-attribute="wyrd" data-attributeLabel="Wyrd" data-attributeValue={{data.wyrd}} type="checkbox" data-dtype="Boolean">
          <label class="button attribute-button" for="wyrd{{actor._id}}"> Wyrd </label>
        </h4>
        <div class="gold-border"></div>
        <div class="split">
          <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.wyrd" type="number" value="{{data.wyrd}}" data-dtype="Number">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
        </div>
      </div>

      <div class="kInput statBox big">
        <h4>Glamour</h4>
        <div class="gold-border"></div>
        <div class="split">
          <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.glamour.value" type="number" value="{{data.glamour.value}}" data-dtype="Number">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
          <span class="delimiter"> / </span>
          <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
            <input name="data.glamour.max" type="number" value="{{data.glamour.max}}" data-dtype="Number">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
        </div>
        <div class="description"> {{glamour_per_turn}} glamour per turn </div>
      </div>
    </div>
    <div class="item-stat-block">
    <div class="form-line">
      <label class="margin"> Favored Regalia </label> <input name="data.favoredRegalia1" type="text" value="{{data.favoredRegalia1}}" />
      <label> </label> <input name="data.favoredRegalia2" type="text" value="{{data.favoredRegalia2}}" />
    </div>
    </div>
    

  </div>
</div>

<div class="items-block">
  <div class="items-table">
    {{!-- Contracts --}}
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> Contracts </th>
        {{#each inventory.contract.dataset}}
          <th class="cell header"> {{this}} </th>
        {{/each}}
        <th class="cell header button item-create" data-type="contract"> + Add </th>
      </tr>
      {{#each inventory.contract.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> 
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.majorType}} {{#unless (isGoblinContract data.majorType)}} ({{data.subType}}, {{data.regalia}}) {{/unless}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{#if data.costGlamour.value}} {{data.costGlamour.value}}G {{#if data.costGlamour.perTurn}} (turn) {{/if}} {{/if}} {{#if data.costWillpower.value}} {{data.costWillpower.value}}W {{#if data.costWillpower.perTurn}} (turn) {{/if}} {{/if}}</td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.dicePool.value}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.action}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.duration}}</td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>
    {{!-- Pledges --}}
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> Pledges </th>
        {{#each inventory.pledge.dataset}}
          <th class="cell header"> {{this}} </th>
        {{/each}}
        <th class="cell header button item-create" data-type="pledge"> + Add </th>
      </tr>
      {{#each inventory.pledge.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> 
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.type}} </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>