<div class="attributes-flexrow">
  <ol class="attributes-list">
    <li class="attributes-header flexrow">
      <span class="attribute-key">Arcanum</span>
      <span class="attribute-valueHeader">Value</span>
    </li>
    {{#each data.arcana.gross as |attr key|}}
      <li class="attribute flexrow" data-attribute="{{key}}">
        <span class="button arcana-state {{#if attr.isRuling}} ruling {{else}} {{#if attr.isInferior}} inferior {{/if}} {{/if}}" data-attribute="{{key}}">{{#if attr.isRuling}} R {{else}} {{#if attr.isInferior}} I {{/if}} {{/if}}</span>
        <span>
          <input class="attribute-check" id="{{attr.label}}{{../actor._id}}" data-attribute="{{key}}" data-attributeValue={{attr.value}} data-attributeLabel="{{attr.label}}" type="checkbox" data-dtype="Boolean">
          <label class="button attribute-button" for="{{attr.label}}{{../actor._id}}">{{attr.label}}</label>
        </span>
        <input class="attribute-value" type="number" name="data.arcana.gross.{{key}}.value" value={{attr.value}} data-dtype="{{attr.type}}" min="{{attr.min}}" max="{{attr.max}}" />
      </li>
    {{/each}}
  </ol>

  <ol class="attributes-list">
    <li class="attributes-header flexrow">
      <span class="attribute-key">Arcanum</span>
      <span class="attribute-valueHeader">Value</span>
    </li>
    {{#each data.arcana.subtle as |attr key|}}
      <li class="attribute flexrow" data-attribute="{{key}}">
        <span class="button arcana-state {{#if attr.isRuling}} ruling {{else}} {{#if attr.isInferior}} inferior {{/if}} {{/if}}" data-attribute="{{key}}"> {{#if attr.isRuling}} R {{else}} {{#if attr.isInferior}} I {{/if}} {{/if}}</span>
        <span>
          <input class="attribute-check" id="{{attr.label}}{{../actor._id}}" data-attribute="{{key}}" data-attributeValue={{attr.value}} data-attributeLabel="{{attr.label}}" type="checkbox" data-dtype="Boolean">
          <label class="button attribute-button" for="{{attr.label}}{{../actor._id}}">{{attr.label}}</label>
        </span>
        <input class="attribute-value" type="number" name="data.arcana.subtle.{{key}}.value" value={{attr.value}} data-dtype="{{attr.type}}" min="{{attr.min}}" max="{{attr.max}}" />
      </li>
    {{/each}}
  </ol>
  <div class="flex-col">

    <div class="kInput statBox big">
      <h4>
        <input class="attribute-check" id="Gnosis{{actor._id}}" data-attribute="gnosis" data-attributeValue={{data.gnosis}} data-attributeLabel="Gnosis" type="checkbox" data-dtype="Boolean">
        <label class="button attribute-button" for="Gnosis{{actor._id}}">Gnosis</label>
      </h4>
      <div class="gold-border"></div>
      <div class="split">
        <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
          <input name="data.gnosis" type="number" value="{{data.gnosis}}" data-dtype="Number">
          <div class="numBtns">
            <div class="plusBtn">+</div>
            <div class="minusBtn">−</div>
          </div>
        </div>
      </div>
    </div>


    <div class="kInput statBox big">
      <h4>
        <div class="button charMacroButton calculate resource tooltip">
          <span class="tooltip-text"> Calculate maximum mana. </span>
          <img src="systems/mta-umg/icons/gui/calculate.svg" alt="Calculate max. mana.">
        </div>
        Mana
      </h4>
      <div class="gold-border"></div>
      <div class="split">
        <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
          <input name="data.mana.value" type="number" value="{{data.mana.value}}" data-dtype="Number">
          <div class="numBtns">
            <div class="plusBtn">+</div>
            <div class="minusBtn">−</div>
          </div>
        </div>
        <span class="delimiter"> / </span>
        <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
          <input name="data.mana.max" type="number" value="{{data.mana.max}}" data-dtype="Number">
          <div class="numBtns">
            <div class="plusBtn">+</div>
            <div class="minusBtn">−</div>
          </div>
        </div>
      </div>
      <div class="description"> {{mana_per_turn}} mana per turn </div>
    </div>


  </div>
</div>
<div class="items-block">
  <div class="items-table">

    {{!-- Yantras --}}
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> Yantras </th>
        {{#each inventory.yantra.dataset}}
          <th class="cell header"> {{this}} </th>
        {{/each}}
        <th class="cell header button item-create" data-type="yantra"> + Add </th>
      </tr>
      {{#each inventory.yantra.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> <div class="item-image" style="background-image: url({{item.img}})"></div>              <span> {{item.name}} </span></div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.diceBonus}}</td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.subtype}} </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>

    {{!-- Attainments --}}
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> Attainments </th>
        {{#each inventory.attainment.dataset}}
          <th class="cell header"> {{this}} </th>
        {{/each}}
        <th class="cell header button item-create" data-type="attainment"> + Add </th>
      </tr>
      {{#each inventory.attainment.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}} {{#if data.legacy}} magic-item {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> <div class="item-image" style="background-image: url({{item.img}})"></div>              <span> {{item.name}} </span></div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.arcanum}}</td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.level}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.legacy}}</td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>

    {{!-- Spells --}}
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> Spells </th>
        {{#each inventory.spell.dataset}}
          <th class="cell header"> {{this}} </th>
        {{/each}}
        <th class="cell header spell-properties"> </th>
        <th class="cell header button item-create" data-type="spell"> + Add </th>
      </tr>
      {{#each inventory.spell.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> <div class="item-image" style="background-image: url({{item.img}})"></div>              <span> {{item.name}} </span></div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.arcanum}}</td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.level}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.primaryFactor}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.withstand}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.roteSkill}} </td>
          <td class="cell spell-properties {{#if @last}} lastRow {{/if}}">
            <label class="checkBox checkButton">
              <input class="spell-rote" data-item-id="{{item._id}}" data-dtype="Boolean" type="checkbox" {{checked data.isRote}}>
              <span> Rote </span>
            </label>
            <label class="checkBox checkButton">
              <input class="spell-praxis" data-item-id="{{item._id}}" data-dtype="Boolean" type="checkbox" {{checked data.isPraxis}}>
              <span> Praxis </span>
            </label>
            <label class="checkBox checkButton">
              <input class="spell-inured" data-item-id="{{item._id}}" data-dtype="Boolean" type="checkbox" {{checked data.isInured}}>
              <span> Inured </span>
            </label>
          </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>

    {{!-- Active Spells --}}
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> Active Spells ({{activeSpells.value}} / {{activeSpells.max}})</th>
        {{#each inventory.activeSpell.dataset}}
          <th class="cell header"> {{this}} </th>
        {{/each}}
        <th class="cell header equipped"> </th>
        <th class="cell header button item-create" data-type="activeSpell"> + Add </th>
      </tr>
      {{#each inventory.activeSpell.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> 
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.arcanum}}</td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.level}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.potency.value}}</td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.duration.value}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}} tooltip"> {{scaleIndex data.scale.value}}
            <span class="tooltip-text"> {{data.scale.value}} </span>
          </td>
          <td class="cell spell-properties relinquish {{#if @last}} lastRow {{/if}}">
          </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>