<div class="attributes-flexrow">
  <ol class="attributes-list">
    <li class="attributes-header flexrow">
      <span class="attribute-key">Discipline</span>
      <span class="attribute-valueHeader">Value</span>
    </li>
    {{#each data.disciplines.common as |attr key|}}
      <li class="attribute flexrow" data-attribute="{{key}}">
        <span>
          <input class="attribute-check" id="{{attr.label}}{{../actor._id}}" data-attribute="{{key}}" data-attributeValue={{attr.value}} data-attributeLabel="{{attr.label}}" type="checkbox" data-dtype="Boolean">
          <label class="button attribute-button" for="{{attr.label}}{{../actor._id}}">{{attr.label}}</label>
        </span>
        <input class="attribute-value" type="number" name="data.disciplines.common.{{key}}.value" value={{attr.value}} data-dtype="Number" min="0" max="10" />
      </li>
    {{/each}}
  </ol>

  <ol class="attributes-list">
    <li class="attributes-header flexrow">
      <span class="attribute-key">Discipline</span>
      <span class="attribute-valueHeader">Value</span>
    </li>
    {{#each data.disciplines.unique as |attr key|}}
      <li class="attribute flexrow" data-attribute="{{key}}">
        <span>
          <input class="attribute-check" id="{{attr.label}}{{../actor._id}}" data-attribute="{{key}}" data-attributeValue={{attr.value}} data-attributeLabel="{{attr.label}}" type="checkbox" data-dtype="Boolean">
          <label class="button attribute-button" for="{{attr.label}}{{../actor._id}}">{{attr.label}}</label>
        </span>
        <input class="attribute-value" type="number" name="data.disciplines.unique.{{key}}.value" value={{attr.value}} data-dtype="Number" min="0" max="10" />
      </li>
    {{/each}}
    {{#each data.disciplines.own as |attr key|}}
      <li class="attribute flexrow" data-attribute="{{key}}">
        <span>
          <input class="attribute-check" id="{{attr.label}}{{key}}{{../actor._id}}" data-attribute="{{key}}" data-attributeValue={{attr.value}} data-attributeLabel="{{attr.label}}" type="checkbox" data-dtype="Boolean">
          <label class="button attribute-button" for="{{attr.label}}{{key}}{{../actor._id}}">{{attr.label}}</label>
          <input class="button discipline-name invisible" type="text" name="data.disciplines.own.{{key}}.label" value="{{attr.label}}" />
          
          <span class="button discipline-edit" data-item-id="{{key}}" title="Edit Discipline"><i class="fas fa-edit"></i></span>
          <span class="button discipline-delete" data-attribute="{{key}}" title="Delete Discipline"><i class="fas fa-times-circle"></i></span>
        </span>
        <input class="attribute-value" type="number" name="data.disciplines.own.{{key}}.value" value={{attr.value}} data-dtype="Number" min="0" max="10" />
      </li>
    {{/each}}
    <li class="button discipline-create"> 
      + Add
    </li>
  </ol>
  <div class="flex-col">

    <div class="kInput statBox big">
      <h4>
        <input class="attribute-check" id="bloodPotency{{actor._id}}" data-attribute="bloodPotency" data-attributeValue={{data.bloodPotency}} type="checkbox" data-dtype="Boolean">
        <label class="button attribute-button" for="bloodPotency{{actor._id}}">Blood Potency</label>
      </h4>
      <div class="gold-border"></div>
      <div class="split">
        <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
          <input name="data.bloodPotency" type="number" value="{{data.bloodPotency}}" data-dtype="Number">
          <div class="numBtns">
            <div class="plusBtn">+</div>
            <div class="minusBtn">−</div>
          </div>
        </div>
      </div>
    </div>

    <div class="kInput statBox big">
      <h4>
        <div class="button charMacroButton calculate resource tooltip">
          <span class="tooltip-text"> Calculate maximum vitae. </span>
          <img src="systems/mta-umg/icons/gui/calculate.svg" alt="Calculate max. vitae.">
        </div>
        Vitae
      </h4>
      <div class="gold-border"></div>
      <div class="split">
        <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
          <input name="data.vitae.value" type="number" value="{{data.vitae.value}}" data-dtype="Number">
          <div class="numBtns">
            <div class="plusBtn">+</div>
            <div class="minusBtn">−</div>
          </div>
        </div>
        <span class="delimiter"> / </span>
        <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
          <input name="data.vitae.max" type="number" value="{{data.vitae.max}}" data-dtype="Number">
          <div class="numBtns">
            <div class="plusBtn">+</div>
            <div class="minusBtn">−</div>
          </div>
        </div>
      </div>
      <div class="description"> {{vitae_per_turn}} vitae per turn </div>
    </div>


  </div>
</div>

<div class="items-block">
  <div class="items-table">
    {{!-- Discipline Powers --}}
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> Discipline Powers </th>
        {{#each inventory.discipline_power.dataset}}
          <th class="cell header"> {{this}} </th>
        {{/each}}
        <th class="cell header button item-create" data-type="discipline_power"> + Add </th>
      </tr>
      {{#each inventory.discipline_power.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> 
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.discipline}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.level}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.cost}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.dicePool.value}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.action}} </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>
    {{!-- Devotions --}}
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> Devotions </th>
        {{#each inventory.devotion.dataset}}
          <th class="cell header"> {{this}} </th>
        {{/each}}
        <th class="cell header button item-create" data-type="devotion"> + Add </th>
      </tr>
      {{#each inventory.devotion.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> 
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.cost.value}} Vitae {{#if data.cost.perTurn}} (turn) {{/if}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.dicePool.value}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.action}} </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>
    {{!-- Rites and Miracles --}}
    <table class="item-table">
      <tr class="item-row header">
        <th class="cell header first collapsible button"> Rites and Miracles </th>
        {{#each inventory.rite.dataset}}
          <th class="cell header"> {{this}} </th>
        {{/each}}
        <th class="cell header button item-create" data-type="rite"> + Add </th>
      </tr>
      {{#each inventory.rite.items as |item iid|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper"> 
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.riteType}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.targetNumber}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{#if data.withstand}} {{data.withstandType}} {{data.withstand}} {{/if}}</td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>